@import "~bootstrap/scss/bootstrap";
@import 'chart';

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    background-color: #eee;
    // font-family: sans-serif;
    // text-align: center;
    // font-weight: lighter;
}

.container {
    margin-bottom: 30px;
}


#image-preview {
    min-height: 200px;
    text-align: center;
    padding-top: 40px;
    background-color: #fff;
    margin-bottom: 5px;
}

.image-export {
    // display: none;
}

// button{
//     cursor: pointer;
//     outline:none;
//     font-weight: 300;
//     background-color: #1dce94;
//     border: none;
//     border-radius: 500px;
//     color: white;
//     padding:0.5rem 1rem;
//     transition: all 0.3s;

//     &:hover{
//         color: #1dce94;
//         background-color: white;
//     }

//     &:active{
//         background-color: #cbcbcb;
//     }
// }
