@import "~bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    background-color: #eee;
    // font-family: sans-serif;
    // text-align: center;
    // font-weight: lighter;
}

  #viz-container {
    padding: 10px 10px;
    background-color: #fff;
    // max-width: 800px;
  }

.container {
    margin-bottom: 30px;
    max-width: 1000px;
}


#image-preview {
    min-height: 200px;
    text-align: center;
    padding-top: 20px;
    background-color: #666;
    margin-bottom: 5px;
    color: #eee;
}

.image-export {
    display: none;
}

// hack for overiding obscure Bootstrap style
a:not([href]):not([tabindex]) {
    color: white;
    &:hover{ color: #eee; }
}



select {
    display: block
}

#tooltip-container{
    width: auto;
    position: absolute;

    .tooltip-content {
        background-color: #444;
        border: 1px solid #222;
        color: #fff;
        opacity: 0.95;
        padding: 0.3em;
        .tooltip-title {
            font-weight: bold;
        }
    }

    &.hide {
        display: none;
    }
}

// appending to Bootstrap dropdown
.form-control.small {
    max-width: 300px;
}

// button{
//     cursor: pointer;
//     outline:none;
//     font-weight: 300;
//     background-color: #1dce94;
//     border: none;
//     border-radius: 500px;
//     color: white;
//     padding:0.5rem 1rem;
//     transition: all 0.3s;

//     &:hover{
//         color: #1dce94;
//         background-color: white;
//     }

//     &:active{
//         background-color: #cbcbcb;
//     }
// }
